version: '3.8'
services:
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio_siasn
    ports:
      - "9000:9000"
      - "127.0.0.1:9001:9001"
    environment:
      MINIO_ROOT_USER: "${MINIO_ROOT_USER}"
      MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
      MINIO_SERVER_URL: "${MINIO_SERVER_URL}"
      MINIO_BROWSER_REDIRECT_URL: "${MINIO_BROWSER_REDIRECT_URL}"
    volumes:
      - /srv/minio:/data
      - /etc/minio/certs:/etc/minio/certs
    command: server /data --console-address ":9001" --certs-dir "/etc/minio/certs"
    restart: always
